.card-body{
    background-color: #EC5E2A;
}

.col{
    padding: 0;
    margin: 0;
}

.btn-delete{
    background-color:transparent;
}

#reInitBtn{
    display: none;
}

.btn-initialize:hover{
    color: #5cb85c ;
    background-color : transparent;
}
